@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap");

@import './Left.css';
@import './Right.css';
@import './Underline.css';
@import './Sidebar.css';

:root {
  --pseudo-primary: #EAE7DC;
  --pseudo-secondary: #E85A4F;
  --pseudo-oppositeColor: #88BDBC;
  --pseudo-card1: #D3DEDC;
  --pseudo-card2: #dfe36d;
  --pseudo-card3: #f0f5ed;
  --pseudo-card4: #FFEFEF;
}

.darkMode {
  --pseudo-primary: #112D32;
  --pseudo-secondary: #88BDBC;
  --pseudo-oppositeColor: #E85A4F;
  --pseudo-card1: #4a574d;
  --pseudo-card2: #4e4a57;
  --pseudo-card3: #574a4d;
  --pseudo-card4: #57504a;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
  background: var(--pseudo-primary);
  color: var(--pseudo-secondary);
  transition: all 0.6s ease;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}

body::-webkit-scrollbar {
  display: none;
}


@media screen and (min-width: 53em) {
  body {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media screen and (min-width: 1540px) {
  body {
    padding: 0 0 0 190px;
  }
}