#left {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: hidden;
  margin-bottom: 50px;
}

.banner {
  margin: 40px 0 40px 0;
}

.title__inner-name{
  overflow-y: hidden;
}

.title__inner-name > .inner{
  font-family: "Noto Serif Display", serif;
  font-size: clamp(65.6px, 5vw, 130px);
  line-height: 0.9;
}

.title__inner-name:last-of-type > .inner{
  display: flex;
  align-items: flex-end;
}

.bio {
  font-size: clamp(16.4px, 1.5vw, 39px);
  margin: 0 0 5px 10px;
}

#left .tipDiv {
  display: none;
}

.mobile__technos{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--pseudo-secondary);
  margin-bottom: 40px;
}

.paragraph__slider{
  white-space: nowrap;
  animation: scroll 30s infinite linear;
  font-size: 1.7em;
  font-family: "Noto Serif Display", serif;
  font-weight: bold;
  letter-spacing: 4px;
  color: var(--pseudo-primary);
  cursor: default;
}

@keyframes scroll {
  0%{transform: translate3d(0, 0, 0);}
  100%{transform: translate3d(-100%, 0, 0);}
}

.technos {
  display: none;
}

.socials-list {
  display: flex;
  justify-content: space-around;
}

.socials-list > span{
  overflow-y: hidden;
}

.socials-list > span a {
  font-size: clamp(18px, 1.1vw, 29px);
  font-family: "Noto Serif Display", serif;
  font-weight: bold;
  color: var(--pseudo-secondary);
  letter-spacing: 4px;
  opacity: 0.9;
  text-decoration: none;
  -webkit-text-stroke: 0.1px var(--pseudo-secondary);
}

.socials-list a:visited {
  color: var(--pseudo-secondary);
}


@media screen and (min-width: 53em) {

  .banner{
    margin-left: 10%;
  }

  .banner .bio {
    top: 68%;
    left: 66%;
  }

  #left {
    width: 40vw;
    margin-bottom: 0;
    overflow: hidden;
  }

  .mobile__technos {
    display: none;
  }

  .technos {
    display: block;
    margin-left: 10%;
    width: 2000px;
  }

  .technos:hover {
    cursor: default;
  }

  .technos .paragraph {
    font-family: "Noto Serif Display", serif;
    font-weight: bold;
    letter-spacing: 4px;
    opacity: 0.8;
    -webkit-text-stroke: 0.1px var(--pseudo-secondary);
    color: var(--pseudo-primary);
    overflow: hidden;
  }

  .technos .paragraph p{
    margin: 0;
  }

  .technos i {
    transition: color 1s ease;
    font-size: clamp(27.2px, 2vw, 42px);
  }

  .technos i:hover {
    color: var(--pseudo-secondary);
  }

  .mobile__technos{
    display: none;
  }

  .left-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .socials-list {
    flex-direction: column;
    margin-left: 10%;
  }

  #left .tipDiv {
    display: inline-block;
    position: relative;
  }

  .left-bottom .tipDiv .text {
    font-size: clamp(12px, 3vw, 18px);
    width: 220px;
    text-align: center;
  }

  .left-bottom .tipDiv .text i {
    font-family: "Noto Serif Display", serif;
    font-weight: bold;
    color: var(--pseudo-secondary);
    transition: color 1s ease;
    letter-spacing: 1px;
    opacity: 0.9;
    -webkit-text-stroke: 0.1px var(--pseudo-secondary);
  }

  .left-bottom .tipDiv svg {
    position: absolute;
    top: -45px;
    left: 13px;
  }

  .left-bottom .tipDiv svg path {
    stroke: var(--pseudo-secondary);
  }
}