#left {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: hidden;
  margin-bottom: 50px;
}

.banner {
  position: relative;
  margin: 40px 0 60px 0;
}

.title__inner-name{
  overflow-y: hidden;
}

.title__inner-name > .inner{
  font-family: "Noto Serif Display", serif;
  font-size: 4.1em;
  line-height: 0.9;
}

.bio {
  position: absolute;
  top: 68%;
  left: 44%;
  overflow-y: hidden;
}

#left .tipDiv {
  display: none;
}

.technos {
  display: none;
}

.socials-list {
  display: flex;
  justify-content: space-around;
}

.socials-list> span{
  overflow-y: hidden;
}

.socials-list > span a {
  font-size: 1em;
  font-family: "Noto Serif Display", serif;
  font-weight: bold;
  color: var(--pseudo-secondary);
  letter-spacing: 4px;
  opacity: 0.9;
  text-decoration: none;
  -webkit-text-stroke: 0.1px var(--pseudo-secondary);
}

.socials-list a:visited {
  color: var(--pseudo-secondary);
}


@media screen and (min-width: 53em) {

  .banner{
    margin: 0 auto;
  }

  .banner .bio {
    width: 207px;
    top: 68%;
    left: 66%;
  }

  #left {
    width: 40vw;
    margin-bottom: 0;
    overflow: hidden;
  }

  .technos {
    display: block;
    margin-left: 10%;
    width: 2000px;
  }

  .technos:hover {
    cursor: default;
  }

  .technos .paragraph {
    font-size: 1.7em;
    font-family: "Noto Serif Display", serif;
    font-weight: bold;
    letter-spacing: 4px;
    opacity: 0.8;
    -webkit-text-stroke: 0.1px var(--pseudo-secondary);
    color: var(--pseudo-primary);
    overflow: hidden;
  }

  .technos .paragraph p{
    margin: 0;
  }

  .technos i {
    transition: color 1s ease;
  }

  .technos i:hover {
    color: var(--pseudo-secondary);
  }

  .left-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .socials-list {
    flex-direction: column;
    margin-left: 10%;
  }

  #left .tipDiv {
    display: inline-block;
    position: relative;
  }

  .left-bottom .tipDiv .text {
    width: 220px;
    text-align: center;
  }

  .left-bottom .tipDiv .text i {
    font-family: "Noto Serif Display", serif;
    font-weight: bold;
    color: var(--pseudo-secondary);
    transition: color 1s ease;
    letter-spacing: 1px;
    opacity: 0.9;
    -webkit-text-stroke: 0.1px var(--pseudo-secondary);
  }

  .left-bottom .tipDiv svg {
    position: absolute;
    top: -45px;
    left: 13px;
  }

  .left-bottom .tipDiv svg path {
    stroke: var(--pseudo-secondary);
  }
}